<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Pes Tracker</title>
</head>
<body>
    <form id="loginForm">
        <h1 class="main-title">PES Tracker</h1>
        <h2>Login</h2>
        <label>Email:</label>
        <input type="text" id="login" name="login">

        <label>Password:</label>
        <input type="password" id="password" name="password">

        <button type="submit">Login</button>
        <p id="message"></p>
    </form>

    <p id="message"></p>

    <script>
        document.getElementById("loginForm").addEventListener("submit", async function(event) {
            event.preventDefault();

            const login = document.getElementById("login").value;
            const password = document.getElementById("password").value;

            const response = await fetch("/api/v1/login", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ login, password })
            });

            const result = await response.json();

            if (response.ok) {
                document.getElementById("message").innerText = "Login successful!";
                localStorage.setItem("token", result.token); // сохраним JWT
                setTimeout(() => {
                    window.location.href = "/me";
                }, 1000);
            } else {
                document.getElementById("message").innerText = result.error || "Login failed!";
            }
        });
    </script>
</body>
</html>
